@font-face {
    font-family: 'Caveat';
    src: url('caveat-variablefont_wght-webfont.woff2') format('woff2'),
         url('caveat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding: 20px;
}



.toilet-paper {
    width: 120px;
    height: auto;
    margin-left: 20px;
}

section {
    font-family: 'Caveat';
    background-color: lavender;
    padding: 20px;
    max-width: 200px;
    font-size: 18px;
    margin: auto;
    background-color: #fff740;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transform: rotate(2deg);
}


@media (max-width: 600px) {
    header {
        font-size: 24px;
    }
    .toilet-paper {
        width: 60px;
    }
}
  