@font-face {
    font-family: 'Caveat';
    src: url('caveat-variablefont_wght-webfont.woff2') format('woff2'),
         url('caveat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding: 20px;
}



.toilet-paper {
    width: 120px;
    height: auto;
    margin-left: 20px;
}

section {
    background-color: lavender;
    padding: 20px;
    font-family: sans-serif;
    margin: 20px;
    width: 240px;
    height: 240px;
    font-family: 'Caveat';
    font-size: 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transform: rotate(2deg);
}

.yellow {
    background-color: #fff740;
}

.cyan {
    background-color: #7afcff;
}

.magenta {
    background-color: #ff7eb9;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
}


@media (max-width: 600px) {
    header {
        font-size: 24px;
    }
    .toilet-paper {
        width: 60px;
    }
}
  